<p id="notice"><%= notice %></p>

<p>
  <strong>Snail:</strong>
  <%= @trail.snail_id %>
</p>

<p>
  <strong>Length:</strong>
  <%= @trail.length %>
</p>

<p>
  <strong>Vector:</strong>
  <%= @trail.vector %>
</p>

<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'Back', trails_path %>
